.discr{
    background-color: #073839;
    text-align: center;
    height: 100px;
    padding: 35px 0px;
    h5{
        text-transform: capitalize;
        word-spacing: 3px;
        color: #fff;
        padding: 0px 0px 10px;
        font-size: 15px;
        font-weight: 400;
    }
    h6{
        text-transform: capitalize;
        word-spacing: 3px;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
    }
  
    .link-style{
        a{
            text-decoration: none;
            color: #70b9b0;
            padding: 0px 3px;
        }
}

}